@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<p>This is a simple chat application built on top of asp.net core2. </p>
<p>It's open source and thanks to many open source libraries that makes it very easy to build a chat bot. </p>
<p>There are lots of room for improvement, this is just a ui framework for easier testing of chat services. </p>
