@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<p>For any information, please feel free to contact me.</p>
<address>
    <strong>Author:</strong> Yan Zhang <a href="mailto:zhangyan612@gmail.com">zhangyan612@gmail.com</a><br />
</address>
